<div>
    <a href="">BlazorNotes</a>
</div>

<div>
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="notes">
                Notes
            </NavLink>
        </li>
        <li>
            <NavLink href="foo">
                Foo
            </NavLink>
        </li>
    </ul>
</div>